<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="todolist">
  <meta name="author" content="Irene">
  <meta property="og:title" content="todolist" />
  <meta property="og:description" content="todolist" />
  <link rel="icon" type="image/x-icon" href="image/todo.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="scss/all.css">
  <title>all</title>
</head>

<body>
  <div id="app">
    <!-- register -->
    <div class="register">
      <div class="container">
        <div class="row justify-content-center pt-3 pt-md-5 pt-lg-11">
          <div class="col-12 col-lg-6 text-center">
            <img class="mb-3 mb-md-11 mb-lg-3 mt-lg-10" src="image/logo_lg.png" alt="logo">
            <img class=" d-none d-lg-inline" src="image/done.png" alt="done">
          </div>
          <div class="col-12 col-lg-6 fw-bold">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col col-md-10">
                  <h1 class="fs-3 fw-bold mb-md-4 text-center text-md-start">註冊帳號</h1>
                  <form>
                    <div class="input-group-lg d-flex flex-column">
                      <label class="lh-lg" for="Email">
                        Email
                      </label>
                      <input class="py-3 ps-3 mb-md-2 rounded border-0" required placeholder="請輸入Email" id="Email"
                        v-model="email" type="email">
                      <div class="invalid-feedback mt-0 mb-md-2" :class="{'d-block':emailError}">
                        請輸入正確格式
                      </div>
                    </div>
                    <div class="input-group-lg d-flex flex-column">
                      <label class="lh-lg" for="name">
                        您的暱稱
                      </label>
                      <input class="py-3 ps-3 mb-md-2 rounded border-0" required placeholder="請輸入您的暱稱" id="name"
                        v-model="userName" type="text">
                      <div class="invalid-feedback mt-0 mb-md-2" :class="{'d-block':userNameError}">
                        此欄位不得為空
                      </div>
                    </div>
                    <div class="input-group-lg d-flex flex-column">
                      <label class="lh-lg" for="password">
                        密碼
                      </label>
                      <input class="py-3 ps-3 mb-md-2 rounded border-0" required placeholder="請輸入密碼" autocomplete="off"
                        id="password" v-model="password" type="password">
                      <div class="invalid-feedback mt-0 mb-md-2" :class="{'d-block':passwordError}">
                        請設定６碼以上
                      </div>
                    </div>
                    <div class="input-group-lg d-flex flex-column">
                      <label class="lh-lg" for="again-password">
                        再次輸入密碼
                      </label>
                      <input class="py-3 ps-3 mb-md-2 rounded border-0" required placeholder="請再次輸入密碼"
                        autocomplete="off" id="again-password" v-model="passwordAgain" type="password">
                      <div class="invalid-feedback mt-0 mb-md-2" :class="{'d-block':passwordAgainError}">
                        密碼不一致
                      </div>
                    </div>
                  </form>

                  <div class="w-50 mx-auto d-flex flex-column justify-content-center">
                    <a :href="link" type="button" class="btn btn-secondary mt-3 my-md-3" @click="register">註冊帳號</a>
                    <a href="index.html" class="btn">登入</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.33/vue.global.min.js'
    integrity='sha512-nswZG83l1MggaGEAe/zLIbsVpZJUyqv+yg40f2CNp9QH5AOtOsjS4PSdWRDEr/v+R6YPhNJ1gvhDEJDOqh5qxQ=='
    crossorigin='anonymous'></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script type="module" src="loginANDregister.js"></script>
</body>

</html>